# Hotel Project

Using Python is a great idea, in case we plan to create a database from the begging and fill it with large data all at once.
After this we can manipulate the fresh database either with simple queries or even with python commands.
We will be capable to bring, upadate or parse data more easily.

### Import libraries & build connection

In [1]:
# Import libraries
import psycopg2
import xlrd
import pandas as pd
from sqlalchemy import create_engine

In [17]:
# Create connection and cursor
conn = psycopg2.connect("dbname=HotelDB user=***** password=*****")
cur = conn.cursor()

### Create Tables

In [5]:
# Create hotel2018, hotel2019, hotel2020 tables
sql = """CREATE TABLE IF NOT EXISTS hotel2018(
        hotel VARCHAR(50) NULL,
        is_canceled INT NULL,
        lead_time INT NULL,
        arrival_date_year INT NULL,
        arrival_date_month VARCHAR(50) NULL,
        arrival_date_week_number INT NULL,
        arrival_date_day_of_month INT NULL,
        stays_in_weekend_nights INT NULL,
        stays_in_week_nights INT NULL,
        adults INT NULL,
        children VARCHAR(50) NULL,
        babies INT NULL,
        meal VARCHAR(50) NULL,
        country VARCHAR(50) NULL,
        market_segment VARCHAR(50) NULL,
        distribution_channel VARCHAR(50) NULL,
        is_repeated_guest INT NULL,
        previous_cancellations INT NULL,
        previous_bookings_not_canceled INT NULL,
        reserved_room_type VARCHAR(50) NULL,
        assigned_room_type VARCHAR(50) NULL,
        booking_changes INT NULL,
        deposit_type VARCHAR(50) NULL,
        agent VARCHAR(50) NULL,
        company VARCHAR(50) NULL,
        days_in_waiting_list INT NULL,
        customer_type VARCHAR(50) NULL,
        adr INT NULL,
        required_car_parking_spaces INT NULL,
        total_of_special_requests INT NULL,
        reservation_status VARCHAR(50) NULL,
        reservation_status_date VARCHAR(50) NULL)"""
        
cur.execute(sql)          
# We do the same for 2019 and 2020

In [18]:
# Create MealCost table
sql = """CREATE TABLE IF NOT EXISTS mealcost(
        Cost FLOAT NULL,
        meal varchar(25) NULL)"""
        
cur.execute(sql)

In [12]:
# Create MarketSegment table
sql = """CREATE TABLE IF NOT EXISTS marketmegment(
        Discount FLOAT NULL,
        market_segment varchar(25) NULL)"""
        
cur.execute(sql)

### Filling tables with data
#### Method 1

In [6]:
# We transformed our xlsx file to a xls file in order to handle this with xlrd
workbook = xlrd.open_workbook(r"C:\*****\hotel_revenue_historical_full_2.xls")

In [7]:
sheet = workbook.sheet_by_index(0)

for i in range (1, sheet.nrows):
    row = sheet.row_values(i, start_colx=0, end_colx=None)
    sql = """INSERT INTO hotel2018 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cur.execute(sql, row)

conn.commit()

In [6]:
sheet = workbook.sheet_by_index(1)

for i in range (1, sheet.nrows):
    row = sheet.row_values(i, start_colx=0, end_colx=None)
    sql = """INSERT INTO hotel2019 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cur.execute(sql, row)

conn.commit()

In [8]:
sheet = workbook.sheet_by_index(2)

for i in range (1, sheet.nrows):
    row = sheet.row_values(i, start_colx=0, end_colx=None)
    sql = """INSERT INTO hotel2020 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cur.execute(sql, row)

conn.commit()

In [19]:
sheet = workbook.sheet_by_index(3)

for i in range (1, sheet.nrows):
    row = sheet.row_values(i, start_colx=0, end_colx=None)
    sql = """INSERT INTO mealcost VALUES (%s, %s)"""
    cur.execute(sql, row)

conn.commit()

In [13]:
sheet = workbook.sheet_by_index(4)

for i in range (1, sheet.nrows):
    row = sheet.row_values(i, start_colx=0, end_colx=None)
    sql = """INSERT INTO marketsegment VALUES (%s, %s)"""
    cur.execute(sql, row)

conn.commit()

In [16]:
cur.close()
conn.close()

### Filling tables with data
#### Method 2

In [8]:
# We generate the connection with postgre database with sqlalchemy.
# We need this step because to_sql module uses by default sqlite connection.
# Also instead of using the specific connection driver and a cursor to commit our trasactions, we do this immediately with the help of pandas.
# And of course there is no need to transform our xlsx file to a xls file.
# Amazing combination.
engine = create_engine('postgresql://*****:*****@localhost:5432/HotelDB')

In [11]:
# Now let's see how easier is the same process wiht pandas.
tables = ["hotel2018", "hotel2019", "hotel2020", "mealcost", "marketsegment"]

for i in range(0, len(tables)):
    df = pd.read_excel (r"C:\*****\hotel_revenue_historical_full.xlsx", sheet_name=i)
    df.to_sql(tables[i], engine, if_exists='replace', index = False)

MarketSegment